html, body{ padding: 0; margin: 0; }
body{ font-family: "Open Sans", sans-serif; }

/*
 * COLORS
 * woot: #90ad2f
 * meh: #c42e3b
 * grab: #aa74ff
 */

/*
 * Metric Styles
 */
.metrics {
  width: 100%;
  cursor: pointer;
  padding: 10px;
}
.metrics > div {
  display: inline-block;
  width: calc(33.33% - (20px / 3) - 2px);
  padding: 10px 0;
  margin: 0 1px;
  background: #282c35;
}
.metrics .woot {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.metrics .grab {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.metrics .active.woot { background-color: #90ad2f; }
.metrics .active.meh { background-color: #c42e3b; }
.metrics .active.grab { background-color: #aa74ff; }
.metrics > div .icon { margin-left: 7px; }

/*
 * List Styles
 */

.plug-stats {
  background-color: rgba(28, 31, 37, 0.9);
  width: 300px;
  max-height: 525px;
  overflow: scroll;
  color: #fff;
}

ol {
  margin: 0;
  padding: 0 40px;
}
ol li {
  padding: 15px 0;
}

/*
 * Title Styles
 */
.title {
}
.author {
  font-size: 0.8em;
  font-weight: lighter;
  color: #999;
}

/*
 * Stats Styles
 */


/*
 * Plug Styles
 */
.icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url('https://cdn.plug.dj/_/static/images/icons.38f7ee77fd7ad2bc018b1a25fd4a1f0aaba5a4cd.png');
    vertical-align: middle;
}
.icon + div {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
  margin-right: 15px;
}

.icon-grab         { background-position: -140px -285px }
.active .icon-grab { background-position: -35px -285px }

.icon-meh          { background-position: -175px -285px }
.active .icon-meh  { background-position: -70px -285px }

.icon-woot         { background-position: -210px -285px }
.active .icon-woot { background-position: -105px -285px }
