html, body{ padding: 0; margin: 0; }
body{ font-family: "Open Sans", sans-serif; }
/*
 * COLORS
 * woot: #90ad2f
 * meh: #c42e3b
 * grab: #aa74ff
 */

/*
 * Metric Styles
 */
.metrics {
  width: calc(100% - 20px);
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0A0A0A;
}
.metrics > div {
  display: inline-block;
  width: calc(33.33% - 2px);
  padding: 5px 0;
  margin: 0 1px;
  background: #282c35;
  text-align: center;
}
.metrics > div span {
  padding-right: 20px;
}
.metrics .woot {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.metrics .grab {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.metrics .active.woot { background-color: #90ad2f; }
.metrics .active.meh { background-color: #c42e3b; }
.metrics .active.grab { background-color: #aa74ff; }
.metrics > div .icon { margin-left: 7px; }

/*
 * List Styles
 */
.stats-list {
  overflow: scroll;
}
.stats-list::-webkit-scrollbar {
    display: none;
}
html, body, #main, .plug-stats, .stats-list{ height: 100%; }

.plug-stats {
  background-color: #0A0A0A;
  width: 100%;
  color: #fff;
  height: 100%;
}

ol {
  margin: 55px 0 0 0;
  padding: 0 40px;
}
ol li {
  padding: 15px 0;
}

/*
 * Title Styles
 */
.title {
  cursor: pointer;
}
.author {
  font-size: 0.8em;
  font-weight: lighter;
  color: #999;
}

/*
 * Stats Styles
 */


/*
 * Plug Styles
 */
.icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url('https://cdn.plug.dj/_/static/images/icons.38f7ee77fd7ad2bc018b1a25fd4a1f0aaba5a4cd.png');
    vertical-align: middle;
}
.icon + div {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
  margin-right: 15px;
}

.icon-grab         { background-position: -140px -285px }
.active .icon-grab { background-position: -35px -285px }

.icon-meh          { background-position: -175px -285px }
.active .icon-meh  { background-position: -70px -285px }

.icon-woot         { background-position: -210px -285px }
.active .icon-woot { background-position: -105px -285px }


/*
 * Preview
 */

#preview {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #0A0A0A;
  color: #fff;
}

.close-preview {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  border-top: 1px solid #333;
  text-align: center;
  cursor: pointer;
}
.close-preview > div {
  padding-top: 17px;
}

/* Responsive Embedding */
.embed-container {
  margin: 10px 20px;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
